# .gitignore file
#
# The root folder must contain the following files:
#
# .gitignore
# AUTHORS
# COPYNG
# LICENSE
# README
# log_main.sln
#
# Also must contain the following folders:
#
# projects/ where should be placed JUST all the .vcxproj and .filters files
# src/ where should be placed JUST all the source files
# bin/ where should be placed JUST the resources files (configuration files, etc).
#
# The binary files must NOT be uploaded to the repository, neither the .dll, .lib, etc.
# Notice you could have in your own working folder more files and folders. All these 
# files/folders must NOT be uploaded to the repository. So if you have files/folders 
# out of the above list you should add them in this file (.gitignore).
#
# The following files/folders will be ignored.

*
!*/

*~



# Exceptions, the following files/folders WONT be ignored.

!*.c
!*.cc
!*.cpp
!*.h
!*.hpp

!*.conf
!*.xml

!.gitignore

!projects/log/log.vcxproj
!projects/log/log.vcxproj.filters

!projects/log_main/log_main.vcxproj
!projects/log_main/log_main.vcxproj.filters

!log_main.sln

!AUTHORS
!COPYNG
!LICENSE